<mat-table #table [dataSource]="resources" matSort  >
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
      <mat-cell *matCellDef="let resource"> {{resource.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let resource">  {{resource.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="bookResource">
        <mat-header-cell *matHeaderCellDef>Book Resource</mat-header-cell>
        <mat-cell *matCellDef="let resource" (click)="$event.stopPropagation()">
            <button mat-button (click)="onBookResource(resource)">
                <mat-icon>bookmark_add</mat-icon>
            </button>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns">
    </mat-header-row>
    <mat-row *matRowDef="let resource; columns: displayedColumns;">
    </mat-row>
  </mat-table>